:root {
	/* defaults */
  --default-background: #A08896;

  /* signup */
  --signup-background: #F3A9AE;
  --signup-button: #FE4365;
  --signup-input-line: #FC9D9A;
  --signup-error-primary: #42F9CB;
  --signup-error-secondary: #A0FCE5;

  /* login */
  --login-background: #F9CDAD;
  --login-button: #83AF9B;
  --login-input-line: #C8C8A9;
}

body, main {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

main {
	background: linear-gradient(300deg, var(--default-background), #FFF);
}

section {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
}

section.signup {
	background: linear-gradient(300deg, var(--signup-background), #FFF);
}
section.login {
	background: linear-gradient(300deg, var(--login-background), #FFF);
}
h1 {
	 color: black;
	 background: url('/assets/images/space.png');
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 font-size: 17vw;
	 margin: 0;
}

p {
	text-align: center;
	margin: 0;
}
