:root {
	/* defaults */
	--default-background: #A08896;

	/* signup */
	--signup-background: #F3A9AE;
	--signup-input-dark: #FE4365;
	--signup-input-light: #FC9D9A;
	--signup-error-1: #42F9CB;
	--signup-error-2: #6DFBD7;
	--signup-error-3: #A1FCE5;

	/* login */
	--login-background: #F9CDAD;
	--login-input-dark: #83AF9B;
	--login-input-light: #C8C8A9;
	--login-error-1: #7C93A2;
	--login-error-2: #AEBDC7;
	--login-error-3: #DDE3E7;
}

body, main {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

main {
	background: linear-gradient(300deg, var(--default-background), #FFF);
}

section {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
}

section.signup {
	background: linear-gradient(300deg, var(--signup-background), #FFF);
}
section.login {
	background: linear-gradient(300deg, var(--login-background), #FFF);
}
h1 {
	 color: black;
	 background: url('/assets/images/space.png');
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 font-size: 17vw;
	 margin: 0;
}

p {
	text-align: center;
	margin: 0;
}
