body, main {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(300deg, #2f3238, #FFF);
}

section {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
}

h1 {
	 color: black;
	 background: url('/assets/images/space.png');
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 font-size: 17vw;
	 margin: 0;
}

p {
	text-align: center;
	margin: 0;
}

form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.inputs-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 80vw;
	max-width: 600px;
}

/*
BEGIN COOL INPUTS!
source: https://tympanus.net/codrops/2015/01/08/inspiration-text-input-effects/
*/

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input-field {
	position: relative;
	display: block;
	float: right;
	border: none;
	border-radius: 0;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	width: 100%;
	background: transparent;
	padding: 0.5em 0;
	margin-bottom: 2em;
	color: #fff;
}

.input-field:focus {
	outline: none;
}

.input-label {
	display: inline-block;
	float: right;
	color: #57000A;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	position: absolute;
	text-align: left;
	font-size: 1em;
	padding: 10px 0 5px;
	pointer-events: none;
}

.input-label::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 7px;
	background: #A30013;
	left: 0;
	top: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.label-content {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
}

.input-field:focus + .input-label::after,
.input-filled .input-label::after {
	background: #57000A;
	-webkit-transform: scale3d(1, 0.25, 1);
	transform: scale3d(1, 0.25, 1);
}

.input-field:focus + .input-label .label-content,
.input-filled .input-label .label-content {
	color: #57000A;
	-webkit-transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
	transform: translate3d(0, 2em, 0) scale3d(0.655, 0.655, 1);
}
/* END COOL INPUTS! */

/*
START COOL BUTTON!
source: https://tympanus.net/Development/ButtonStylesInspiration
*/

.input-button {
	float: left;
	min-width: 150px;
	max-width: 250px;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	border-color: #fff;

	margin: 1em 2em;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input-button:focus {
	outline: none;
}

.input-button::before,
.input-button::after {
	content: '';
	position: absolute;
	border-radius: inherit;
	background: #57000A;
	z-index: -1;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.input-button::before {
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;
	opacity: 0.2;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
.input-button::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: scale3d(1.1, 1, 1);
	transform: scale3d(1.1, 1, 1);
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.input-button:hover {
	color: #fff;
}
.input-button:hover::before {
	opacity: 1;
}
.input-button:hover::after {
	background-color: #A30013;
}
.input-button:hover::after,
.input-button:hover::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}