body, main {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(300deg, #2f3238, #FFF);
}

section {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 100vh;
}

h1 {
	 color: black;
	 background: url('/assets/images/space.png');
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 font-size: 17vw;
	 margin: 0;
}

p {
	text-align: center;
	margin: 0;
}

.button-container {
	display: flex;
	flex-flow: row wrap;
}
